# General
.idea/
.DS_Store
sample_first_frame.jpg

# C++
.cache/
CMakeFiles/
build/
cmake-build*/
*.txt
!CMakeLists.txt
*.json
!c_cpp_properties.json

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/
.Python
*.pyc
*.pyo
.pytest_cache/
.coverage
*.egg-info/
venv/
env/
.venv/
